.form_control__label {
  font-weight: 700;
  margin: 0rem 0.5rem;
}

.form_control__input {
  font-family: inherit;
  margin: 0.5rem 0.5rem;
  border-radius: 10px;
  outline: none !important;
  border: 2px solid rgb(230, 155, 17);
}

.error_message {
  color: #cc0000;
  font-weight: 700;
}

.error_input {
  border: 2px solid #cc0000 !important;
  background-color: #cc00003b;
  border-radius: 10px;
}
