.list {
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.item__name {
  display: flex;
  align-items: center;
}

.item button {
  margin: 0 0.2rem;
  height: 1rem;
}

.ingredient_buttons {
  text-align: center;
}
