.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.3rem 0.5rem;
  background-color: white;
  position: sticky;
  z-index: 1;
}

.navbar div {
  margin: 0.5rem 0.5rem;
}

.navbar div h2 {
  font-weight: bold;
  color: rgb(49, 49, 49);
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar li {
  margin: 0 0.5rem;
  background: linear-gradient(315deg, #ff4e00 0%, #ec8005 74%);
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.navbar li:hover {
  background: #ff4e00;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.navbar svg {
  color: white;
  stroke-width: 4px;
  cursor: pointer;
}
