.register {
  color: rgb(34, 34, 34);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register > div:nth-child(1) {
  margin: 0 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.register h1 {
  font-weight: 700;
  text-align: center;
}

.register svg {
  color: black;
  display: block;
  margin: 0 auto;
}

.form-control {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form-control select {
  font-family: inherit;
  margin: 0.5rem 0;
  border-radius: 10px;
  outline: none !important;
  border: 2px solid rgb(230, 155, 17);
}

.error_message {
  color: #cc0000;
  font-weight: 700;
}

.error {
  background-color: #e23b3bfd;
  margin: 2rem 2rem;
  width: 30rem;
  height: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
}

.error span {
  align-self: flex-end;
  margin: 0 1rem;
  cursor: pointer;
}

.error span > svg {
  color: white;
}
