.section {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section > h1 {
  font-weight: bold;
  align-self: center;
  margin: 2rem 0;
}

.section__description {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__description p {
  margin: 0 2rem;
  width: 25rem;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 700;
}

.section__description > div {
  overflow: hidden;
  width: 50%;
  height: 100%;
  transform: skewY(5deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.section__description img {
  transform: scale(105%) translateX(-20px);
}
