.ingredient_list,
.discount_list {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
}

.ingredient_list label,
.discount_list label {
  margin: 0.3rem 0;
}

.ingredient_list label input,
.discount_list label input {
  margin-right: 0.4rem;
}

.ingredient_buttons,
.discount_buttons {
  text-align: center;
}

.ingredient_buttons button,
.discount_buttons button {
  margin: 1rem 0.5rem;
}

.product_img {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5px black;
}
