.disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.disabled h1 {
  font-weight: 700;
  margin: 1rem 1rem;
}

.disabled p {
  text-align: justify;
  font-weight: 600;
}
