.new_password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form_control {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form_control__buttons {
  display: flex;
  justify-content: center;
}

.form_control__buttons button {
  margin: 0 1rem;
  margin-top: 1rem;
}
