.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset h1 {
  text-align: center;
  font-weight: 700;
}

.reset p {
  text-align: justify;
}

.form-control {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
