.card {
  width: 32rem;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem 2rem;
}

.big_card {
  height: 80vh !important;
  overflow-y: auto;
}

.small_card {
  height: auto;
}

.card_error {
  background-color: #e23b3bfd;
  color: white;
}
