.chart-bar {
  height: 100%;
  display: flex;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.vertical__inner {
  flex-direction: column;
  background-color: #fb9a4b;
  border: 1px solid #313131;
}

.horizontal {
  flex-direction: row;
}

.horizontal__inner {
  flex-direction: row;
  padding: 1rem;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: #7a3700;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.chart_label__horizontal {
  width: 100px;
}
