.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 12px;
  background-color: #ffd5ae;
  text-align: center;
  height: 10rem;
}

.vertical {
  padding: 1rem;
  flex-direction: row;
}

.horizontal {
  padding: 1rem;
  flex-direction: column;
}
