.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.466);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 1;
  transition: all ease 1s;
}

.modal h1 {
  font-weight: bold;
  text-align: center;
}
